### Q1. What is a database? Differentiate between SQL and NoSQL databases.

##### A database is a collection of data that is organized, which is also called structured data. It can be accessed or stored in a computer system. It can be managed through a Database Management System (DBMS).
##### A SQL is a type of database which generally used relational databases, In SQL the data is stored in tabular format Where as NoSQL is also a type of database which use non-relational databases, In NoSQL the data is stored in key:value pair.

###  Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

##### A DDL stands for Data Defination Language which is a part of SQL It has four command CREATE,DROP,ALTER,TRUNCATE which is used to give a defination of a table and to update the defination of a table.
##### CREATE:- It is used to create a database or a table
##### create database pwskills;
##### create table ankit(st_id int,st_name varchar(50),st_course varchar(50));
##### DROP:-DROP command is used to delete a table completely from a database
##### DROP table ankit;
##### Alter:-An ALTER command is used to add a column or to modify a column
##### ALTER table ankit add(st_add varchar(50),st_state varchar(50));
##### ALTER table ankit modify st_add int;
##### ALTER table ankit change st_add address varchar(50);
##### ALTER table ankit drop column sr_state;
##### TRUNCATE:- TRUNCATE is a command used to delete a data from the table instead of deleting a table.
##### TRUNCATE table ankit;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

##### A DML stands for DATA MANIPULATING LANGUAGE which is also a part of SQL It has three command INSERT, UPDATE, and DELETE which is used to give a data or change a data or to delete a data.
##### INSERT:- A insert command is used to insert a data in a particular column
##### insert into ankit values(1,ankit,jollygrant);
##### UPDATE:- A update command is used to update a particular data from a particular column
##### update ankit set category = "Adult" where age >= 18;
##### DELETE:- A delete command is used to delete a complete row from a table
##### delete from ankit where age <=15;

### Q4. What is DQL? Explain SELECT with an example.

##### A DQL stands for DATA QUERY LANGUAGE which is a part of SQL it has one command SELECT which is used to fetch a particular data from a table
##### SELECT:- A select command is used to fetch a particular data
##### select * from ankit;
##### select st_id,st_name from ankit where age <= 18;

### Q5. Explain Primary Key and Foreign Key.

##### A Primary key is a unique identifier by which we can identify each row uniquely. A Primary cannot contain duplicate values
##### A Foreign key is used to give reference to other tables. A Foreign key is generally used to join two or more tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

##### import mySQL.connector
##### mydb = mySQL.connector.connect(
##### host = "localhost",
##### username = "abc",
##### password = "password",)
##### mycursor = mydb.cursor()
##### mycursor.execute()
##### A cursor() is used to point a cell so that we can put the data or retrieve a data from a table by using mycursor = mydb.cursor() we can create a cursor
##### A execute() is used to execute every query written in SQL by using cursor.execute("create database ankit") we can execute any query

### Q7. Give the order of execution of SQL clauses in an SQL query.

##### 1	FROM	Tables are joined to get the base data.
##### 2	WHERE	The base data is filtered.
##### 3	GROUP BY	The filtered base data is grouped.
##### 4	HAVING	The grouped base data is filtered.
##### 5	SELECT	The final data is returned.
##### 6	ORDER BY	The final data is sorted.
##### 7	LIMIT	The returned data is limited to row count.